@font-face {
	font-family: "Monstserrat";
	src: url('/static/fonts/Monstserrat-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Monstserrat";
	src: url('/static/fonts/Monstserrat-Bold.ttf');
	font-weight: bolder;
	font-style: normal;
}
