
#projects {

  .projects-page-idx {
    background: #252934;
  }

  .projects-heading {

  	font-size: 3.4rem;
  	font-weight: 400;
  	letter-spacing: 1.4rem;
  	color: white;
  	text-align: center;
  	
  }
}