
// ---------------- INDEX PAGE -----------------------
.cover {
  //background-image: linear-gradient(45deg,#00aeef 0%,#096fb9 100%);
  background-color: #252934;

}

.wrapper {
  // min-height: 100vh;
  // min-width: 100vw;
  // margin-top: 0;
  // position: relative;
}


.main-section {
  // top: 150px;
  height: 900px;
  width: 100%;
  padding: 150px 0 0;
  position: relative;

  &__text-box {
    position: absolute;
    height: 700px;
    // top: 40%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    text-align: center;
  }
}

.hero-section{
  h2 {
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
  }

  perspective: 1000px;
  color: white;
  width: 400px;
  position: relative;

  &-content {
    position: absolute;
    bottom: 20px;
    width: 360px;
    left: 6%;
    z-index: 1;

    &-intro {
      font-size: 17px;
    }
  }
}

.image {
  width: auto;
  max-width: 100%;
}

.row1 {
  height: 80%;
}

.hero-welcome-text > h1 {
  color: white;
  text-transform: uppercase;
  font-size: 27px;
  margin-top: 80px;

}


.text {
  margin-bottom: 50px;
}  

.moving-text-container {
  padding-top: 8px;
  min-height: 54px;
}

.hero-welcome-bio {

  .fa-stack {
    font-size: 28px;
  }

  .list-inline-item {
    > a {
      color: #373737;
    }
  }
}

.hero-welcome-wrapper {
  justify-content: flex-end;

}

@media (max-width: 991px) {
  .hero-section {
    width: 341px;

    &-content {
      width: 341px;
    }
  }

  .hero-welcome-text > h1 {
    margin-top: 0px;
  }
}

.background-image {
  position: absolute;
  width: 1762px;
  height: 493px;
}

.shadow-custom {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  box-shadow: -17px 13px 41px rgba(13,78,158,0.6);
  border: 2px solid #3bace5;

  .shadow-inner {
    width: 100%;
    height: 100%;
    box-shadow: -17px 13px 13px rgba(0,0,0,0.09);
  }
}

.shadow-custom-2 {
  border: 2px solid #f37d49;
  box-shadow: -17px 13px 41px rgba(13,78,158,0.3);
}

.cover-0 {
                                                                           // animation: fgradient 1s ease;
}

.cover-1 {
  background-image: linear-gradient(45deg, rgb(254, 202, 83), rgb(253, 157, 97));
  // animation: sgradient 1s ease;
}

.flipper {
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}

.flipper.isFlipping {
  transform: rotateY(-180deg);
}

.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  transform: rotateY90deg;
  z-index: 9999;
}

.back {
  transform: rotateY(180deg);
}

.scroll-about-btn { 
  font-size: 30px;
  color: white !important;
  background-color: #2D283A;
  padding: 15px;
  border: white solid 3px;
  border-radius: 10px;
  margin-top: 100px;
  cursor: pointer;
}  





#index {
  height: 100vh;
}




.header {
  height: 80vh;
  background-color: #252934;
  background-size: cover;       /* fits element inside container */
  background-position: top;     /* makes top of image always remain at top of container */
  position: relative;
 
  &__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    .about-scroll {
   
    }
  }
}

.heading-primary {
  color: white;
  backface-visibility: hidden;  /* hides animation shakes in browser */
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 2.8rem;
    font-weight: 400;
    animation: moveInLeft 1s ease-out;
    margin-bottom: 4rem;  

  }

  &--sub {
    display: block;
    font-size: 1.7rem;
    font-weight: 400;
    animation: moveInRight 1s ease-out;
    margin-bottom: 1.8rem;  

  } 
}



.highlight {
  color: red !important;
  font-weight: 800 !important;

}



