@import './shared/fonts';
@import './index';
@import './header';
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400&display=swap');

html, body {
	height:100%;
  width:100%;
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-weight: 100;
}

.self-typed {
	font-size: 31px;
	font-weight: bold;
	letter-spacing: 2px;
	color: white;
}

.absolute {
  position: absolute;
}

.base-page {
	padding-top: 150px;
}