@import './shared/fonts';
@import './shared/colors';
@import './index';
@import './header';
@import './portfolios';
@import './blog';
@import './slate-editor';
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,600,700&display=swap');

html, body {
	height:100%;
  width:100%;
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-weight: 100;
}

.self-typed {
	font-size: 31px;
	font-weight: bold;
	letter-spacing: 2px;
	color: white;
}

.absolute {
  position: absolute;
}

.error {
	font-weight: 500;
	color: red;
}

.base-page {
	padding: 150px 0 100px 0;
}

.clickable {
	cursor: pointer;
}

.base-page {
  padding-top: 150px;
  color: black;
  background-color: #ecedee;
  min-height: 100vh;

  .page-header {
    .page-header-title {
      font-weight: 700;
      color: black;
      display: inline-block;
      margin-bottom: 20px;
    }
  }
}